.login-container {
    height: 100%;
    /* max-height: 600px; */
    width: 1000px;
    background-color: hsla(200,40%,30%,.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
      0 20%,
      0 100%,
      0 50%,
      0 100%,
      0 0;
    background-size: 
      2500px,
      800px,
      500px 200px,
      1000px,
      400px 260px;
    animation: 50s para infinite linear;
    }
  
  @keyframes para {
    100% {
      background-position: 
        -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
      }
    }
.login-container{    
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.login-content{
    background-color: aliceblue;
    width:45%;
    border-radius: 2px;
    display:flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -4px 4px 20px 1px rgba(0,0,0,0.8);
}
.login-content>small{
    font-weight: bold;
}
.login-content>img{
    width: 200px;
    object-fit: contain;
    margin: 15px;
}
.login-content>button{
    display: flex;
    padding:10px;
    margin:15px 0px ;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    letter-spacing: 1.1px ;
    font-family: monospace;
    cursor: pointer;
}
.login-content>button>span{
    margin-left: 20px;
    color:black;
    text-align: center;
    font-weight: bold;
}
.login-content>button>img{
    width: 20px;
    height: 20px;   
}